@import "https://gdfurry.eu.org/branding/var.css";

html, body {
    margin: 0px;
    font-family: sans-serif;
    background-color: var(--background);
    color: var(--text);
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#topbar {
    display: flex;
    align-items: center;

    margin-bottom: 0.0rem;
    padding: 0.5rem;
    background-color: var(--secondary);
    color: black;
    min-height: 3rem;
}

#topbar a {
    padding: 1em;
    margin: 0rem 0.2rem;
    color: inherit;
    background-color: transparent;
    border-radius: 10px;

    /* Hover effect */
    transition: background-color 200ms ease, box-shadow 200ms ease;
}

@media (prefers-reduced-motion) {
    #topbar a {
        /* Remove the hover effect */
        transition: none;
    }
}

#topbar a:hover {
    background-color: var(--third);
    box-shadow: 0px 0px 15px var(--third);
}

#main {
    display: flex;
    text-align: center;

    flex-direction: column;
    padding: 1rem;

    white-space: pre-line;
}

a {
    color: inherit;
    text-decoration: inherit;
}
