/* vim:fileencoding=utf-8:foldmethod=marker 
 */
@import "https://gdfurry.eu.org/branding/var.css";

html, body {
    margin: 0px;
    font-family: sans-serif;
    background-color: var(--background);
    color: var(--text);
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#topbar {
    display: flex;
    align-items: center;

    margin-bottom: 0.0rem;
    padding: 0.5rem;
    background-color: var(--secondary);
    color: black;
    height: 4rem;

    font-weight: bold;
}

/* Links {{{ */
#topbar a {
    padding: 1em;
    margin: 0rem 0.2rem;
    color: inherit;
    background-color: transparent;
    /* border-radius: 10px; */

    /* Hover effect */
    transition: background-color 200ms ease, box-shadow 200ms ease, color 200ms ease;
}

@media (prefers-reduced-motion) {
    #topbar a {
        /* Remove the hover effect */
        transition: none;
    }
}

/* "Mefi style" hover {{{ */

#topbar a {
    background-image: linear-gradient(to bottom, var(--third) 0 0);
    background-position: bottom;
    background-size: 100% 0;
    background-repeat: no-repeat;
    transition: .4s ease;
}
#topbar a:hover {
  background-size: 100% 100%;
}

/* }}} */

/* "Link style" hover {{{ 
#topbar a:hover {
    color: var(--third);
}
 }}} */
/* "Button style" hover {{{
#topbar a:hover {
    background-color: var(--third);
    box-shadow: 0px 0px 15px var(--third);
}
}}} */
/* }}} */

/* Logo {{{ */
#topbar #logo {
   height: 100%;
   margin-right: 1em;
}
#topbar #logo img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
    
    border-radius: 15px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.20);
}

#main {
    display: flex;
    text-align: center;

    flex-direction: column;
    padding: 1rem;

    white-space: pre-line;
}
/* }}} */

a {
    color: inherit;
    text-decoration: inherit;
}
